/* Import base courier styles */
@import './courier-home.css';

/* Menu Main Content */
.courier-main-content {
    flex: 1;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}